<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image">{{data.score}}</div>
    <md-card-title>{{data.name | slice:0:1}}**</md-card-title>
    <md-card-subtitle>{{data.createdAt | date:'yyyy-MM-dd hh:mm'}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p>
      {{data.ques}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="thumbUp(data.objectId)">
      <md-icon md-list-icon>thumb_up</md-icon>
    </button>
    <button md-button (click)="thumbDown(data.objectId)">
      <md-icon>thumb_down</md-icon>
    </button>
  </md-card-actions>
</md-card>
